/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav {
	height: 72px;
	background: #202125;
	width: 100%;
	margin: 0;
	position: fixed;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	padding: 0 16px 0 0;
	box-sizing: border-box;
	z-index: 100;
  }
  
  nav a {
	padding: 0 32px;
	color: #eee;
	transition: 0.4s;
  }
  
  nav a:hover {
	text-decoration: none;
	color: red;
  }
  
  nav ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	margin: 0;
  }

  .active {
	color: #f783ae;
  }
  
  #logo-img {
	display: flex;
	height: 100%;
	background: #202125;
	padding: 0 32px;
	align-items: center;
	color: white;
	transition: 0.4s;
  }
  
  #logo-img img {
	height: 40px;
  }
  
  #logo-img:hover {
	background: rgb(0, 0, 0);
  }
  
  #menu-icon {
	height: 100%;
	font-size: 28px;
	padding: 0 4px;
	color: #eee;
	display: none;
	align-items: center;
  }
  
